body {
  background-image: url("../images/fpp-background-image.png");
  background-position-x: right;
  background-position-y: top;
  background-size: cover;
}

.image-fill-container {
  width: 100vw;
  height: 100vh;
  /*background-image: linear-gradient(rgba(84, 70, 165, 0), rgba(84, 70, 165, 0.7));*/
}

footer .login-button-container {
  display: flex;
  position: relative;
  float: left;
  top: 5px;
}

footer .login-button-container > * {
  margin: 8px 16px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

footer .login-button-container > *:hover {
  color: #fff;
  transition: 0.3s;
}

h1 {
  font-size: 50px;
}
.w3-row-padding img {margin-bottom: 12px}

footer {
  background-color: #2d01669f;
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: white;
  font-family: inherit;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.modal-content button {
  width: 100%;
  padding: 10px 18px !important;
  font-family: inherit;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 4px;
  margin: 5px 0px 0px 0px;
  background-color: #3b2472;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.modal-content .container {
  padding: 16px;
}

.modal-content .container.highlight {
  background-color: rgb(63, 66, 134);
}

.modal-content .container.highlight button {
  background-color: #56587e;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding: 5vh 0 5vh 0;
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--background-color-light);
  color: white;
  border-radius: 6px;
  /*background-color: #fefefe;*/
  font-family: inherit;
  margin: 0 auto 0 auto; /* 5% from the top, 15% from the bottom and centered */
  width: fit-content; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
